# dein.toml
[[plugins]]
repo='Shougo/dein.vim'

[[plugins]]
  repo='Shougo/vimproc.vim'
  hook_post_update = '''
	if dein#util#_is_windows()
		let cmd = 'tools\\update-dll-mingw'
	elseif dein#util#_is_cygwin()
		let cmd = 'make -f make_cygwin.mak'
	elseif executable('gmake')
		let cmd = 'gmake'
	else
		let cmd = 'make'
	endif
  let g:dein#plugin.build = cmd
'''

[[plugins]]
repo = 'Shougo/neocomplete.vim'

[[plugins]]
repo = 'Shougo/unite.vim'

[[plugins]]
repo = 'Shougo/neomru.vim'

#[[plugins]]
#repo = 'Shougo/vimfiler.vim'

#[[plugins]]
#repo = 'ujihisa/unite-colorscheme'
#depends = 'Shougo/unite.vim'

[[plugins]]
repo = 'vim-airline/vim-airline'

[[plugins]]
repo = 'vim-airline/vim-airline-themes'
depends = 'vim-airline/vim-airline'

[[plugins]]
repo = 'Shougo/vimshell.vim'

#[[plugins]]
#repo = 'scrooloose/nerdtree'

[[plugins]]
repo = 'GertjanReynaert/cobalt2-vim-theme'

[[plugins]]
repo = 'sfsekaran/cobalt.vim'

[[plugins]]
repo = 'tomasr/molokai'

[[plugins]]
repo = 'sickill/vim-monokai'

[[plugins]]
repo = 'altercation/vim-colors-solarized'

[[plugins]]
repo = 'nanotech/jellybeans.vim'

[[plugins]]
repo = 'chriskempson/vim-tomorrow-theme'

[[plugins]]
repo = 'w0ng/vim-hybrid'

#[[plugins]]
#repo = 'altercation/vim-colors-solarized'

[[plugins]]
repo = 'rking/ag.vim'

#[[plugins]]
#repo = 'mattn/benchvimrc-vim.git'

